{:token "replaced_in_test_case",
 :team_id "replaced_in_test_case",
 :api_app_id "A2AAAAAAA",
 :event
 {:user "U395UPLDC",
  :inviter "U04AAAAAA",
  :text "<@U04AAAAAA|coachbot3> has joined the group",
  :type "message",
  :subtype "group_join",
  :ts "1482437880.000039",
  :channel "replaced_in_test_case",
  :event_ts "1482437880.000039"},
 :type "event_callback",
 :authed_users ["U395UPLDC"]}
